<html>
<head>
    <meta charset="utf-8" />
    <!-- Include to ensure responsive pages are displayed correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap and custom CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/c.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/js/c.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    
    <!-- Fav & iOS icons location -->


</head>

    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">




<!-- Nav -->
        <nav class="nav" style="text-align: center ;">


        <img class = "row" style="top: 10px; left: 30px; height:30px; position: relative;"> 
                <h4 style="">  
                    <a href="/a" style="text-align: center;"> A </a> | 
                    <a href="/b" style="text-align: center;"> B </a> |       
                    <a href="/c" style="text-align: center;"> <font color="grey">C</font> </a> | 
                    <a href="/d" style="text-align: center;"> D </a>
                </h4>


        </nav>

    </div>

    
    </nav>
        <div class="container2">
  <div class="card">
    <div class="card-content">
        

        
      <p class="author" href="#top" rel="relativeanchor" id="mysection1"></p>
      <h1>Welcome!</h1>
      <p class="excerpt">
Here's Info about safe crypto investment</p>
    </div>
  </div>
</div>
        
        




  <div class="container" style="padding-top:50px;">
    <div class="row">
    <div class="site">
      <br><br><br><br><br>
<p >
<img src="/images/1.png">
<img src="/images/2.png">
<img src="/images/3.png">
<img src="/images/4.png">
<img src="/images/5.png">
        </p> 
      <h1 class="site__title">
<p>Crypto News</p></h1>
      <p>
Lots of Info about Crypto News</p>
      <div class="site__box-link">
      </div>
        <p>
Verification keeps you safe! 
</p>
<p>&nbsp;</p>
        <a class="button" href="/" ><p>Your Wallet</p> </a>

        
        
    </div>
    </div>
  </div>
<div class="row">
<div class="container">
    
  <div class="col-md-4 col-sm-4 price-box price-box--purple">
      
    <div class="price-box__wrap">
      <h1 class="price-box__title">
        ---
      </h1>
      <p class="price-box__people">
        ---
      </p>
      <h2 class="price-box__discount">
        <span class="price-box__dollar">$</span>-<span class="price-box__discount--light">/--</span>
      </h2>
      <h3 class="price-box__price">
        $--/--
      </h3>
      <p class="price-box__feat">
        ---
      </p>
      <ul class="price-box__list">
        <li class="price-box__list-el">---</li>
        <li class="price-box__list-el">---</li>
      </ul>
       <div class="price-box__btn">
      <a class="btn btn--purple btn--width">1</a>
    </div>
  </div>
  </div>
 

<!-- 2 -->
  <div class="col-md-4 col-sm-4 price-box price-box--blue">
       
    <div class="price-box__wrap">
      <h1 class="price-box__title">
        ---
      </h1>
      <p class="price-box__people">
        ---
      </p>
      <h2 class="price-box__discount">
        <span class="price-box__dollar">$</span>-<span class="price-box__discount--light">/--</span>
      </h2>
      <h3 class="price-box__price">
        $--/--
      </h3>
      <p class="price-box__feat">
        ---
      </p>
      <ul class="price-box__list">
        <li class="price-box__list-el">---</li>
        <li class="price-box__list-el">---</li>
      </ul>
       <div class="price-box__btn">
      <a class="btn btn--blue btn--width">2</a>
    </div>
  </div>
  </div>
    
 <!-- 3 -->
  <div class="col-md-4 col-sm-4 price-box price-box--violet">
    
    <div class="price-box__wrap">
      <h1 class="price-box__title">
        ---
      </h1>
      <p class="price-box__people">
        ---
      </p>
      <h2 class="price-box__discount">
        <span class="price-box__dollar">$</span>-<span class="price-box__discount--light">/--</span>
      </h2>
      <h3 class="price-box__price">
        $--/--
      </h3>
      <p class="price-box__feat">
        ---
      </p>
      <ul class="price-box__list">
        <li class="price-box__list-el">---</li>
        <li class="price-box__list-el">---</li>
      </ul>
       <div class="price-box__btn">
      <a class="btn btn--violet btn--width">3</a>
    </div>
  </div>
  </div>
</div>
</div>

<div>

  
  


    
  
  <div class="row">
    
  </div>


    
  <div class="container" style="max-width: 400px;">

    <div class="row">

  <h2 class="row__sub">Send Us an Email:</h2><br>
    </div>
        <p></p>
        <form id="contact" class="form" action="mailto:" method="post" enctype="text/plain">
          <div class="form-group">
            <select class="form__field form__select"> 
              <option selected value>Choose topic*</option>
              <option value=1>Feedback</option>
              <option value=2>Report a Bug</option>
              <option value=3>Other</option>
            </select>
            </div>
        
        <div class="form-group">
           <div class="form-group">
             <div class="form__field--half">
            <input type="text" placeholder="Name*" name="name" class="form__field form__text">
             </div>
          <div class="form__field--half" style="padding-left:5px;">
            <input type="text" placeholder="Email address" name="mail" class="form__field form__text">
          </div>
         <div class="form__field--half">
             <input type="text" placeholder="Phone" name="phone" class="form__field form__text"></div>
        
                         <div class="form__field--half" style="padding-left:10px;">
          <input type="checkbox" name="option" value="yes">&nbsp;&nbsp; Option?
          </div></div>
          </div>
  
          <div class="form-group">
            <textarea type="text" placeholder="Your messsage*" name="comment" class="form__field form__textarea"></textarea>
            <button class="btn btn--up btn--width" type="submit">Submit</button>
          </div>
        </form>
  </div>


        </div>


    </body>
</html>